:root {
  --legend-margin: 16px;
  --legend-grid-cols: 1fr 1fr;
}

.legend {
  background: var(--white);
  display: grid;
  grid-template-columns: var(--legend-grid-cols);
  grid-template-rows: auto auto;
  padding: 1vh;
}

.legend__column-one,
.legend__column-two {
  text-align: left;
  margin: var(--legend-margin);
}

.legend__column-one > div,
.legend__column-two > div {
  display: flex;
  gap: 4px;
}

.legend__column-one dt,
.legend__column-two dt {
  font-weight: 700;
}

.legend__column-one dd,
.legend__column-two dd {
  margin: 0;
}

.legend__column-one {
  vertical-align: text-bottom;
  grid-column: 1;
}

.legend__header {
  margin: 0;
  grid-row: 1;
  grid-column: 1 / -1;
}
