.upcoming-games-card {
  margin: 18px auto;
  padding: 8px;
}

.upcoming-games-card__team-logo {
  animation: upcomingPulse 2s infinite;
}

.upcoming-games-card__team-logo--away,
.upcoming-games-card__team-logo--home {
  width: 100px;
  height: 100px;
  display: inline;
  margin: 0 0.5em;
}

.upcoming-games-card__container {
  display: grid !important;
  grid-template-columns: 1fr auto auto auto 1fr;
}

.upcoming-games-card__score--home,
.upcoming-games-card__score--away,
.upcoming-games-card__vs {
  color: var(--black);
  margin: auto;
}

.upcoming-games-card__container > img {
  border-radius: 0 !important;
}

.ant-card {
  margin: 8px auto;
}

/* Media Queries */
@media (max-width: 1000px) {
  .upcoming-games-card__container {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }

  .upcoming-games-card__team-logo--away {
    grid-column-start: 1;
  }

  .upcoming-games-card__team-logo--home {
    grid-column-start: 3;
  }

  .upcoming-games-card__score--home {
    grid-row-start: 2;
    grid-column-start: 3;
  }

  .upcoming-games-card__score--away {
    grid-row-start: 2;
    grid-column-start: 1;
  }
}

@media (hover: hover) {
  .upcoming-games-card:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
  }

  .upcoming-games-card__vs:hover {
    animation: shake 0.5s ease;
  }
}
