/* @import "~antd/dist/antd.css"; */

* {
  font-family: "Inter", "Arial", sans-serif !important;
}

body {
  background-color: #515151;
  margin: 0;
}

.row-panel-cards {
  margin: 18px;
}

.row-panel-simulate {
  text-align: center;
  margin: 18px;
}

.ant-card {
  margin: auto;
  overflow: hidden;
  border: none;
}

.ant-col {
  text-align: center;
}

.panel-score {
  width: 24%;
  margin: 0 auto;
}

.panel-score h1 {
  display: inline;
}

.ant-table {
  border-radius: revert !important;
}

.panel-simulate button {
  margin: 8px;
}

.panel-simulate button:hover {
  border: #ffffff;
  color: #000000;
}

.panel-simulate button:hover > span {
  color: #000000 !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-default:disabled,
:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-default.ant-btn-disabled {
  color: #ffffff;
}

.header {
  height: 50px;
  background: #000000;
  color: #ffffff;
  padding: 20px 40px;
}

.header h1 {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.panel-counter h3 {
  color: #ffffff;
}

.table-column-points,
.table-column-points:hover {
  background-color: #d0e6f5 !important;
  text-align: center;
}

th {
  font-weight: 700 !important;
  text-align: center !important;
}

.column-name {
  text-align: left !important;
}

.table-team-logo,
.table-column-name {
  display: inline;
}

.table-team-logo {
  border-radius: 50%;
}

.table-column-name {
  font-size: 20px;
}

.table-column-stats {
  text-align: center;
}

.table-column-diff-positive {
  color: rgb(75, 148, 72);
}

.table-column-diff-negative {
  color: rgb(208, 2, 27);
}
