/* @import "~antd/dist/antd.css"; */

body {
  background-color: #515151;
  margin: 0;
}

.row-panel-cards {
  margin: 18px;
}

.row-panel-simulate {
  text-align: center;
  margin: 18px;
}

.ant-card {
  margin: auto;
  overflow: hidden;
  border: none;
}

.ant-col {
  text-align: center;
}

.panel-score {
  width: 24%;
  margin: 0 auto;
}

.panel-score h1 {
  display: inline;
}

.ant-table {
  border-radius: revert !important;
}

.panel-simulate button {
  margin: 8px;
}

.panel-simulate button:hover {
  border: #ffffff;
  color: #000000;
}

.panel-simulate button:hover > span {
  color: #000000 !important;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-default:disabled,
:where(.css-dev-only-do-not-override-xu9wm8).ant-btn-default.ant-btn-disabled {
  color: #ffffff;
}

.header {
  height: 50px;
  background: #000000;
  color: #ffffff;
  padding: 20px 40px;
}

.header h1 {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
}

.panel-counter h3 {
  color: #ffffff;
}

.table-points,
.table-points:hover {
  background-color: #d0e6f5 !important;
}

th {
  font-weight: 700 !important;
}

.table-team-logo,
.table-team-name {
  display: inline;
}

.table-team-name {
  font-size: 20px;
}

/* .aik {
  background-color: #010101;
} */

/* .fro {
  background-color: #c90210;
} */

/* .lak {
  background-color: #f47734;
} */

/* .ore {
  background-color: #ffffff;
} */

/* .gen {
  background-color: #990012;
} */

/* .hcb {
  background-color: #f7cc16;
} */

/* .zsc {
  background-color: #e70003;
} */

/* .scb {
  background-color: #000000;
} */

/* .tap {
  background-color: #ffffff;
} */

/* .pel {
  background-color: #e6e6e6;
} */

/* .ifk {
  background-color: #b30210;
} */

/* .ilv {
  background-color: #000000;
} */

/* .rbm {
  background-color: #000080;
} */

/* .man {
  background-color: #ffffff;
} */

/* .deg {
  background-color: #f6d12a;
} */

/* .kec {
  background-color: #e30613;
} */

.ger {
  background-color: #f9a94d !important;
}

.fin {
  background-color: #3fbed7 !important;
}

.swi {
  background-color: #f18383 !important;
}

.swe {
  background-color: #eaff8d !important;
}
